.plans {
  padding: 5.6vw;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      display: block;
    }

    .button {
      margin-top: 24px;
    }

    &__item {
      text-align: center;
      padding: 60px 44px 44px;
      max-width: 380px;
      width: 100%;
      margin: 0 auto;
      @media only screen and (max-width: 855px) {
        padding: 60px 0px 44px;
        max-width: 420px;
      }
      &:nth-child(2) {
        background-image: url(../images/fundo_combo_plus.png);
        background-repeat: no-repeat;
        background-size: contain;
      }

      img {
        height: 83px;
      }

      strong {
        display: block;
        margin-top: 24px;
      }
    }
  }

  p {
    text-align: center;

    @media only screen and (max-width: 855px) {
      padding: 0px 50px;
    }
  }
}
